footer {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    height: 40px;
}

footer a {
    color: #ddd;
    text-decoration: none;
}
